<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Spring Configuration -->
	<bean id="dt" class="java.util.Date"/> <!-- Dependency class -->
	
	<bean id="wmg" class="com.vit.beans.WishMessageGenerator"> <!-- Target class -->
		<constructor-arg name="date" ref="dt"/> <!-- Constructor Injection -->
	</bean>

</beans>